@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --font-extra-bold: 700;
  --font-bold: 600;
  --font-semi-bold: 500;
  --font-medium: 400;
  --font-regular: 300;
  --font-thin: 200;
  --font-size-body-small: 0.75rem;
  --font-size-body-medium: 0.875rem;
  --font-size-body-large: 1rem;
  --font-size-h1: 1.25rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.875rem;
  --font-size-h4: 2rem;
  --font-size-h5: 2.5rem;
  --font-size-h6: 3rem;
  --font-color: #FFFFFF;
  --color-primary: #EC4186;
  --color-primary-darken: rgba(236, 65, 134, 0.6);
  --color-secondary: #38124A;
  --color-tertiary: #EE544A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: var(--font-regular);
}

body {
  font-family: "Roboto", serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
